<html>
	<title>Storepage</title>
	<head>
	    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

         <!-- Bootstrap -->
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/storepage.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	</head>
    <body background=" {% static 'background.jpg'%} ")>
        <div>
            <div class="row">
                <div class="col-1">
                    <a href="/"><img class="mainimg" src="{% static 'E-Fi.png'%}"></a>
                </div>
                <div class="col-11">
                <div class="h1 text-center">You can buy {{ item_name }} at the following locations:</div>
            </div>
        </div>
                {% for store in stores %}
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="row"> <img class="store_img" src="{{ store.picture.url }}"></div>
                            </div> 
                            <div class="col">
                                <div class="row"><p class="storepage_text h4">Nama : {{ store.name }}</p></div>
                                <div class="row"><p class="storepage_text h4">Alamat : {{ store.address_first }}</p></div>
                                <div class="row"><p class="storepage_text h4">{{ store.address_second }}</p></div>
                                <div class="row"><p class="storepage_text h4">Detail : {{ store.details }}</p></div>
                                <div class="row">
                                    <form action="/booking/" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="store_id" value={{ store.store_id }}>
                                        <input type="hidden" name="item_id" value={{ item_id }}>
                                        <input type="submit" value="Book">
                                    </form>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class='col-1'>
                </div>
                <div class="col-11 form-group text-center">
                    <form action="subscribe/" method="POST">
                        {% csrf_token %}

                        <font class="h2">Subscribe to our newsletter!</font> &emsp;
                        {{ newsletter }}
                        <button class="btn btn-primary" type="submit"><font class="h3">Submit</font></button>
                    </form>
                </div>
            </div>
        </div>
    </body>     
</html>
