<html>
    <title></title>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

         <!-- Bootstrap -->
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/storepage.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/booking.css' %}">
    </head>
    <body background=" {% static 'background.jpg'%} ")>
        <div>
            <div class="row">
                <div class="col-1">
                    <a href="/"><img class="mainimg" src="{% static 'E-Fi.png'%}"></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="title1">
                <p>Booking Form</p>
            </div>
            <div class="title2">
                <p>You're about to book:</p>
            </div>
        </div>
        <div class="textbox">
            <form action="add-booking/" method="POST">
                {% csrf_token %}
                <div class="row" style="justify-content: space-between">
                    <div class="h4">Name</div>
                    <div>:{{ Booking.name }}</div>    
                </div>
                <div class="row" style="justify-content: space-between">
                    <div class="h4">E-mail</div>
                    <div>:{{ Booking.email }}</div>
                </div>
                <div class="row" style="justify-content: space-between">
                    <div class="h4">Phone Number</div>
                    <div>:{{ Booking.phone_number }}</div>
                </div>
                <div class="row" style="justify-content: space-between">
                    <div class="h4">Message</div>
                    <div>:{{ Booking.message }}</div>
                </div>
                <div style="text-align: center">After you submit, the store owner will contact you</div>
                <div style="text-align: center">A copy of this form will be sent to your email</div>
                <div style="justify-content: center">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </body>     
</html>
