<html>
    <title></title>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

         <!-- Bootstrap -->
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/storepage.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/Homepage.css' %}">
    </head>
    <body background=" {% static 'background.jpg'%} ")>
        <div>
            <div class="row">
                <div class="col-1">
                    <a href="/"><img class="mainimg" src="{% static 'E-Fi.png'%}"></a>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="title1">
                <p><span>E</span>lectronic<span>-Fi</span>nder</p>
            </div>
            <div class="title2">
                <p>Find Something!</p>
            </div>
            </div>
            </div>
        </div>
        <div class="full">
            <form method="post" action="">{{Search_image.thumbnail}}
            <input type="submit" class="button" value="Submit" />
        </form>                
            </div>
        <div class="title3">
            <p>or search our database</p>
        </div>
        <div class="textbox">
            <form method="get" action="searchresult/">
                <input type="text" placeholder="Input text here...">
                <input type="submit" value="Submit!">
            </form>
        </div>
    </body>     
</html>
