<!DOCTYPE html>
<html>
<head>
	<title>Search Result</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/searchresult.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body background=" {% static 'background.jpg'%} ">
	<div>
		<div class="row">
            <div class="col-1">
                <a href="/"><img class="mainimg" src="{% static 'E-Fi.png'%}"></a>
            </div>
            <div class="col-7">
            	<div class="h1 text-center">Search Result</div>
       		</div>
        <div class="kegiatan col-12 narrow text-center">
			<div class="row light narrow justify-content-center text-justify">
				<div class="event col-md-6 ">
					<img class="store_img" src="{{ item.picture.url }}">
					<br>
					<h2><strong>{{ item.name }}</strong></h2>					
					<h4>Brand  		| {{ item.brand }}</h4>
					<h4>Processor	| {{ item.processor }}</h4>
					<h4>Display		| {{ item.display }}</h4>
					<h4>Graphic		| {{ item.graphic }}</h4>
					<h4>Memory		| {{ item.memory }}</h4>
					<h4>Camera		| {{ item.camera }}</h4>
					<h4>Battery		| {{ item.battery }}</h4>
					<form  action="/storepage/"method="post">
					 	{% csrf_token %}
					 	<input type="hidden" name="item_id" value="{{ item.item_id }}">
						<button name="button" type="submit" class="btn btn-outline-danger ">Where to buy?</button>
					</form>
				</div>				
			</div>
		</div>	
	</div>
</body>
</html>