@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

.store_img {
    max-height: 200px;
    max-width: 352px;
    width: auto;
    height: auto;
}

.title1{
    font-family: "Josefin Sans";
    font-weight: bold;
    font-size: 5em;
    text-align: center;
    width: 100%;
}

.title1 p span{
    font-family: "Josefin Sans";
    text-align: center;
    width: 100%;
    color: #A84848;
}

.title2 {
    font-family: "Muli";
    text-align: center;
    font-size: 3em;
    width: 100%;
}

.title3 {
    font-family: "Muli";
    text-align: center;
    font-size: 1em;
    width: 100%;
}

.textbox{
    font-family: "Muli";
    font-size: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.full{
    font-family: "Muli";
    text-align: center;
}

.storepage_text{
    font-size: 2vw;
}

.button{
    
}

.mainimg {
    max-height: 100px;
    max-width: 100px;
    width: auto;
    height: auto;
}

.small {
    width:10%;
}

.large {
    width:90%;
}